* {
    font-family: 'Montserrat'!important;
    font-size: 14px;
}

body {
    background-color: #292C33;
    color : white;
}

footer {
    color:#75777a
}

.mono {
    font-family: 'Roboto Mono'!important;
}

.MuiAppBar-root {
    background-color: #383b42 !important;
}
